.our-club{
    background-color: rgb(255, 255, 255);
}

.history{
    background-color: #c70101;
}

.col-2{
    color: white;
    flex: auto;
}

.col-3{
    color: white;
    flex: auto;
    text-align: right;
}

.footer{
    background-color: black;
    height: 60px;
}

.images{
    height:fit-content;
    object-fit: cover;
}