.our-club{
    background-color: rgb(255, 255, 255);
}

.history{
    background-color: #000000;
}

.col-2{
    color: white;
    flex: auto;
}

.col-3{
    color: white;
    flex: auto;
    text-align: right;
}